// custom color

$background-color: #f6f5f7;
$title-color: #D9CCC1;
// $title-color-1: #D9CCC1;
$subtitle-color: #D9CCC1;
// $subtitle-color-2: #D9CCC1;
$paragraph-color: #025159;
$button-color: #012326;
$button-ghost-color: #FFFFFF;
$border-button-color: #012326;
$text-button-color: #FFFFFF;
$overlay: #591E11;