button {
	border-radius: 20px;
	border: 1px solid $border-button-color;
	background-color: $button-color;
	color: $text-button-color;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;

    &:active {
        transform: scale(0.95);
    }
    
    &:focus {
        outline: none;
    }
    
    &.ghost {
        background-color: transparent;
        border-color: $button-ghost-color;
    }
}