.social-container {
	margin: 20px 0;

    a {
        border: 1px solid #08c67d;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }
}
